/venv/
/.idea/vcs.xml
/app/static/img/generated/1.jpg
/app/static/img/generated/2.jpg
/app/static/img/generated/3.jpg
/app/static/img/generated/4.jpg
/app/static/img/generated/5.jpg
/app/static/img/generated/6.jpg
/app/static/img/generated/7.jpg
