<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Fashion.AI</title>
    <meta name="description" content="The intelligent option for fashion retail">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/css/Footer-Basic.css">
    <link rel="stylesheet" href="static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="static/css/styles.css">

    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/loadingScreen.js"></script>
    <script type="text/javascript" src="static/js/file_utilities.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><img src="static/img/fashion-logo.png" width="50"><a class="navbar-brand" href="#">Fashion.AI</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/virtualtryon">Virtual Try-on</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" onclick="showLoading('', 'mainform')" href="/styleswapper">Style Swapper</a></li>
                    <li class="nav-item dropdown" style="display: none;"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Placeholder Dropdown </a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </li>
                </ul>
                <span class="navbar-text actions">
                    <a id="userEmail" style="margin-right: 10px;" class="userEmail" href="#">{{ userEmail }}</a>
                    <a id="loginBtn" class="btn btn-light action-button" role="button" href="/login">
                        <img id="loginIcon" width="18" height="18" src="static/img/login.png">
                    </a>
                </span>
            </div>
        </div>
    </nav>
    <form action="/virtualtryon" method="POST" enctype="multipart/form-data">
        <div class="table-responsive" id="generateArticle" style="margin-top: 20px;">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="8">
                            GENERATE ARTICLE<br>
                            <p style="font-weight: normal;">
                                Want to be a fashion designer with no training? Then use our trained AI model to create design ideas. Our Generative Adverserial Network can create designs of Women's Tops, Women's Dress, and Men's Tops seemingly out of thin air.
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8">
                            <label for="select-style-gen">Choose Style Generated:</label>
                            <select id="select-style-gen" name="style-gen" onchange="return storestyle(this);">
                              <option value="women-style-A">Women's Tops</option>
                              <option value="women-style-B">Women's Dress</option>
                              <option value="men-style">Men's Tops</option>
                            </select><br>
                            <button id="generate-btn" class="btn btn-primary" type="submit" style="float: left;margin-right: 5px;" name="generate-btn" value="generate-btn">Generate</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Generated 0</label><br>
                            <img src={{generated0_img}} alt='generated' width="96" height="128">
                        </td>
                        <td>
                            <label>Generated 1</label><br>
                            <img src={{generated1_img}} alt='generated' width="96" height="128">
                        </td>
                        <td>
                            <label>Generated 2</label><br>
                            <img src={{generated2_img}} alt='generated2' width="96" height="128">
                        </td>
                        <td>
                            <label>Generated 3</label><br>
                            <img src={{generated3_img}} alt='generated3' width="96" height="128">
                        </td>
                        <td>
                            <label>Generated 4</label><br>
                            <img src={{generated4_img}} alt='generated4' width="96" height="128">
                        </td>
                        <td>
                            <label>Generated 5</label><br>
                            <img src={{generated5_img}} alt='generated5' width="96" height="128">
                        </td>
                        <td>
                            <label>Generated 6</label><br>
                            <img src={{generated6_img}} alt='generated6' width="96" height="128">
                        </td>
                        <td>
                            <label>Generated 7</label><br>
                            <img src={{generated7_img}} alt='generated7' width="96" height="128">
                        </td>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" id="swapArticle" style="margin-top: 20px;">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3">
                            VIRTUAL TRY-ON<br>
                            <p style="font-weight: normal;">
                                Want to try out a piece of clothing you saw online (or something you created above)? Simply provide a photo of yourself taken against a solid coloured background, a standalone photo of what you were wearing, and a standalone photo of your desired clothing. Watch our Conditional Analogy GAN model do the magic.
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                          <div class="human-article-A">
                            <label>Human with fashion article A</label><br>
                            <input type="file" class="input-img" name="human-article-A" id="human-article-A" accept=".jpeg,.jpg,.png" onchange="getfilesize(this); previewimage(this);"><br>
                            <img id="human-article-A-img" src={{human_article_A_img}} alt='human-article-A' width="96" height="128">
                          </div>
                        </td>
                        <td>
                          <div class="article-A">
                            <label>Fashion article A standalone</label><br>
                            <input type="file" class="input-img" name="article-A" id="article-A" accept=".jpeg,.jpg,.png" onchange="getfilesize(this); previewimage(this);"><br>
                            <img id='article-A-img' src={{article_A_img}} alt='article-A' width="96" height="128">
                          </div>
                        </td>
                        <td>
                          <div class="article-B">
                            <label>Fashion article B standalone</label><br>
                            <input type="file" class="input-img" name="article-B" id="article-B" accept=".jpeg,.jpg,.png" onchange="getfilesize(this); previewimage(this);"><br>
                            <img id='article-B-img' src={{article_B_img}} alt='article-B' width="96" height="128">
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="0">
                            <button id="upload-btn" class="btn btn-primary" type="submit" style="float: left;margin-right: 5px;" name="upload-btn" value="upload-btn">Upload Image</button>
                            <button id="swap-article-btn" class="btn btn-primary" type="submit" style="float: left;margin-right: 5px;" name="swap-article-btn" value="swap-article-btn">Try-on</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="0">
                            <label>Fashion articles swapped</label><br>
                            <img src={{human_article_B_img}} alt='human-article-B' width="96" height="128">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Fashion.AI © 2020<br></p>
        </footer>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script>
        toggleLoginIcon();

        if (localStorage.getItem('style-gen')) {
            styleGen = localStorage.getItem('style-gen');
            document.getElementById('select-style-gen').value = styleGen;
        }
    </script>
</body>

</html>